{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "no-loops"],
  "extends": ["eslint:recommended", "airbnb-base"],
  "rules": {
    "no-loops/no-loops": 2
  }
}
